@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 316 10% 5%;
    --foreground: 316 10% 98%;

    --card: 316 10% 5%;
    --card-foreground: 316 10% 98%;

    --popover: 316 10% 5%;
    --popover-foreground: 316 10% 98%;

    --primary: 316 73% 52%;
    --primary-foreground: 210 40% 98%;

    --secondary: 316 30% 15%;
    --secondary-foreground: 316 10% 98%;

    --muted: 316 10% 15%;
    --muted-foreground: 316 10% 65%;

    --accent: 316 30% 15%;
    --accent-foreground: 316 10% 98%;

    --border: 316 20% 20%;
    --input: 316 20% 20%;
    --ring: 316 73% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 316 10% 5%;
    --foreground: 316 10% 98%;
    --card: 316 10% 5%;
    --card-foreground: 316 10% 98%;
    --popover: 316 10% 5%;
    --popover-foreground: 316 10% 98%;
    --primary: 316 73% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 316 30% 15%;
    --secondary-foreground: 316 10% 98%;
    --muted: 316 10% 15%;
    --muted-foreground: 316 10% 65%;
    --accent: 316 30% 15%;
    --accent-foreground: 316 10% 98%;
    --border: 316 20% 20%;
    --input: 316 20% 20%;
    --ring: 316 73% 52%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
